<div class="container">
<h1> Lista de Compras</h1>
<form #frm="ngForm" (ngSubmit)="adcionarItem()"   >
    <input 
    type="text"
     [(ngModel)]="item" 
     placeholder="Digite o nome do item item" 
    
     name="item" />
<button type="submit">Adicionar</button>
</form> 
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @for (elemento of lista; track elemento.id) {
       
        <tr>
            <td>1</td>
            <td>{{elemento.nome}}</td>
            <td>
                <input type="checkbox">
            </td>
        
        </tr>
    }
    </tbody>

</table>
</div>
